<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,47}</string>
                <key>spriteSourceSize</key>
                <string>{41,47}</string>
                <key>textureRect</key>
                <string>{{463,137},{41,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>10red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,47}</string>
                <key>spriteSourceSize</key>
                <string>{41,47}</string>
                <key>textureRect</key>
                <string>{{463,180},{41,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,47}</string>
                <key>spriteSourceSize</key>
                <string>{27,47}</string>
                <key>textureRect</key>
                <string>{{434,205},{27,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,47}</string>
                <key>spriteSourceSize</key>
                <string>{27,47}</string>
                <key>textureRect</key>
                <string>{{434,254},{27,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{238,143},{34,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,53}</string>
                <key>spriteSourceSize</key>
                <string>{34,53}</string>
                <key>textureRect</key>
                <string>{{293,143},{34,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{465,65},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{34,46}</string>
                <key>textureRect</key>
                <string>{{465,101},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,47}</string>
                <key>spriteSourceSize</key>
                <string>{39,47}</string>
                <key>textureRect</key>
                <string>{{238,179},{39,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,47}</string>
                <key>spriteSourceSize</key>
                <string>{39,47}</string>
                <key>textureRect</key>
                <string>{{287,179},{39,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,46}</string>
                <key>spriteSourceSize</key>
                <string>{29,46}</string>
                <key>textureRect</key>
                <string>{{286,284},{29,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,46}</string>
                <key>spriteSourceSize</key>
                <string>{29,46}</string>
                <key>textureRect</key>
                <string>{{237,286},{29,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,47}</string>
                <key>spriteSourceSize</key>
                <string>{30,47}</string>
                <key>textureRect</key>
                <string>{{287,220},{30,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,47}</string>
                <key>spriteSourceSize</key>
                <string>{30,47}</string>
                <key>textureRect</key>
                <string>{{336,239},{30,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{385,271},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{463,321},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,47}</string>
                <key>spriteSourceSize</key>
                <string>{30,47}</string>
                <key>textureRect</key>
                <string>{{287,252},{30,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,47}</string>
                <key>spriteSourceSize</key>
                <string>{30,47}</string>
                <key>textureRect</key>
                <string>{{385,239},{30,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,47}</string>
                <key>spriteSourceSize</key>
                <string>{30,47}</string>
                <key>textureRect</key>
                <string>{{463,257},{30,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,47}</string>
                <key>spriteSourceSize</key>
                <string>{30,47}</string>
                <key>textureRect</key>
                <string>{{463,289},{30,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,47}</string>
                <key>spriteSourceSize</key>
                <string>{32,47}</string>
                <key>textureRect</key>
                <string>{{336,205},{32,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>7red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,47}</string>
                <key>spriteSourceSize</key>
                <string>{32,47}</string>
                <key>textureRect</key>
                <string>{{385,205},{32,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,47}</string>
                <key>spriteSourceSize</key>
                <string>{32,47}</string>
                <key>textureRect</key>
                <string>{{463,223},{32,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,47}</string>
                <key>spriteSourceSize</key>
                <string>{32,47}</string>
                <key>textureRect</key>
                <string>{{238,220},{32,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,47}</string>
                <key>spriteSourceSize</key>
                <string>{30,47}</string>
                <key>textureRect</key>
                <string>{{237,254},{30,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,47}</string>
                <key>spriteSourceSize</key>
                <string>{30,47}</string>
                <key>textureRect</key>
                <string>{{336,271},{30,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jokerwordblack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,156}</string>
                <key>spriteSourceSize</key>
                <string>{30,156}</string>
                <key>textureRect</key>
                <string>{{354,1},{30,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jokerwordred.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,156}</string>
                <key>spriteSourceSize</key>
                <string>{30,156}</string>
                <key>textureRect</key>
                <string>{{354,33},{30,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>paiju_dizhupai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1,405},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_dawang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{69,109}</string>
                <key>spriteSourceSize</key>
                <string>{87,109}</string>
                <key>textureRect</key>
                <string>{{354,65},{69,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puke_fangkuai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,81}</string>
                <key>spriteSourceSize</key>
                <string>{71,81}</string>
                <key>textureRect</key>
                <string>{{93,405},{71,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_fangkuai1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{433,303},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_heitao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,79}</string>
                <key>spriteSourceSize</key>
                <string>{75,79}</string>
                <key>textureRect</key>
                <string>{{160,223},{75,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_heitao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{334,303},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_hongtao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{160,304},{76,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puke_hongtao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{237,317},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_meihua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{160,143},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_meihua1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{285,315},{30,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puke_paibei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,200}</string>
                <key>spriteSourceSize</key>
                <string>{157,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_paimian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,200}</string>
                <key>spriteSourceSize</key>
                <string>{157,200}</string>
                <key>textureRect</key>
                <string>{{1,203},{157,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>puke_paiying.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,186}</string>
                <key>spriteSourceSize</key>
                <string>{140,186}</string>
                <key>textureRect</key>
                <string>{{166,1},{140,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>puke_xiaowang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,107}</string>
                <key>spriteSourceSize</key>
                <string>{67,107}</string>
                <key>textureRect</key>
                <string>{{354,136},{67,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PuKe_rpddz_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b304118bc90244cafa9200c10720908d:e7d941e6ad128c2dd28987abb8f8e25a:fab1b52543f0a162fe28b6a7b83e9c10$</string>
            <key>textureFileName</key>
            <string>PuKe_rpddz_1.png</string>
        </dict>
    </dict>
</plist>
