<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3d_clock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,885},{82,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,80}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>3dlord_btn_nobig_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,750},{211,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,78}}</string>
                <key>sourceSize</key>
                <string>{211,78}</string>
            </dict>
            <key>3dlord_btn_pass_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,642},{236,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,88}}</string>
                <key>sourceSize</key>
                <string>{236,88}</string>
            </dict>
            <key>3dlord_btn_product_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,468},{234,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,88}}</string>
                <key>sourceSize</key>
                <string>{236,88}</string>
            </dict>
            <key>3dlord_btn_prompt_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,669},{236,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,86}}</string>
                <key>sourceSize</key>
                <string>{236,88}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,251},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>btn_call_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,714},{236,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,86}}</string>
                <key>sourceSize</key>
                <string>{236,88}</string>
            </dict>
            <key>btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,595},{235,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{235,82}}</string>
                <key>sourceSize</key>
                <string>{237,84}</string>
            </dict>
            <key>btn_changetable.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,265},{238,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{238,88}</string>
            </dict>
            <key>btn_chaojijiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,265},{238,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{238,88}</string>
            </dict>
            <key>btn_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,931},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,69}}</string>
                <key>sourceSize</key>
                <string>{74,71}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,883},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{73,75}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>btn_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,558},{235,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{235,82}}</string>
                <key>sourceSize</key>
                <string>{237,84}</string>
            </dict>
            <key>btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,647},{236,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,88}}</string>
                <key>sourceSize</key>
                <string>{238,88}</string>
            </dict>
            <key>btn_duihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,180},{67,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>btn_jiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,695},{236,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,88}}</string>
                <key>sourceSize</key>
                <string>{238,88}</string>
            </dict>
            <key>btn_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{169,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,57}}</string>
                <key>sourceSize</key>
                <string>{169,57}</string>
            </dict>
            <key>btn_not_call_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,230},{236,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,88}}</string>
                <key>sourceSize</key>
                <string>{236,88}</string>
            </dict>
            <key>btn_not_rob_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,230},{236,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,86}}</string>
                <key>sourceSize</key>
                <string>{236,88}</string>
            </dict>
            <key>btn_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,230},{236,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,88}}</string>
                <key>sourceSize</key>
                <string>{238,88}</string>
            </dict>
            <key>btn_rob_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,52},{236,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{236,86}}</string>
                <key>sourceSize</key>
                <string>{236,88}</string>
            </dict>
            <key>btn_yaobuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,140},{236,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,88}}</string>
                <key>sourceSize</key>
                <string>{238,88}</string>
            </dict>
            <key>cc_cardcounter_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,880},{74,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,77}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>cc_cutline.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,642},{3,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,70}}</string>
                <key>sourceSize</key>
                <string>{3,70}</string>
            </dict>
            <key>cc_main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,959},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>cc_remain_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,647},{27,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>ct_background1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,63},{206,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{206,206}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>ct_background2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,63},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ct_title_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,988},{144,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,34}}</string>
                <key>sourceSize</key>
                <string>{144,34}</string>
            </dict>
            <key>game_pic_chongxuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{300,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,48}}</string>
                <key>sourceSize</key>
                <string>{300,48}</string>
            </dict>
            <key>game_pic_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,879},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>game_pic_dizhu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,974},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
            <key>game_pic_nongmin.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,879},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>game_pic_wupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,339},{354,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,52}}</string>
                <key>sourceSize</key>
                <string>{354,52}</string>
            </dict>
            <key>gp_default_lord_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,642},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>gp_label_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,443},{113,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,24}}</string>
                <key>sourceSize</key>
                <string>{113,24}</string>
            </dict>
            <key>gp_pic_avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,841},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>gs_btn_bujiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,505},{236,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{236,88}}</string>
                <key>sourceSize</key>
                <string>{238,88}</string>
            </dict>
            <key>gs_icon_changci_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,757},{127,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,37}}</string>
                <key>sourceSize</key>
                <string>{127,37}</string>
            </dict>
            <key>gs_icon_changci_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,832},{122,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,45}}</string>
                <key>sourceSize</key>
                <string>{122,45}</string>
            </dict>
            <key>gs_icon_changci_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,339},{328,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,42}}</string>
                <key>sourceSize</key>
                <string>{328,42}</string>
            </dict>
            <key>gs_icon_changci_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,788},{136,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,42}}</string>
                <key>sourceSize</key>
                <string>{136,42}</string>
            </dict>
            <key>gs_icon_changci_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,598},{138,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,42}}</string>
                <key>sourceSize</key>
                <string>{138,42}</string>
            </dict>
            <key>gs_icon_changci_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,796},{123,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,43}}</string>
                <key>sourceSize</key>
                <string>{123,43}</string>
            </dict>
            <key>gs_lord_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{260,335}}</string>
                <key>sourceSize</key>
                <string>{260,339}</string>
            </dict>
            <key>gs_lord_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,642},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{113,113}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>gs_lord_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,958},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>gs_lordcard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{452,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{452,59}}</string>
                <key>sourceSize</key>
                <string>{454,59}</string>
            </dict>
            <key>gs_simple_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,558},{54,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,40}}</string>
                <key>sourceSize</key>
                <string>{54,40}</string>
            </dict>
            <key>gs_tip_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,140},{65,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,39}}</string>
                <key>sourceSize</key>
                <string>{65,39}</string>
            </dict>
            <key>gs_tip_bujiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,271},{181,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,66}}</string>
                <key>sourceSize</key>
                <string>{181,66}</string>
            </dict>
            <key>gs_tip_bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,63},{65,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,39}}</string>
                <key>sourceSize</key>
                <string>{65,39}</string>
            </dict>
            <key>gs_tip_buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,841},{67,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,37}}</string>
                <key>sourceSize</key>
                <string>{67,39}</string>
            </dict>
            <key>gs_tip_chaojijiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,679},{234,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,69}}</string>
                <key>sourceSize</key>
                <string>{234,69}</string>
            </dict>
            <key>gs_tip_dawanla.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,830},{155,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,51}}</string>
                <key>sourceSize</key>
                <string>{155,51}</string>
            </dict>
            <key>gs_tip_jiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,52},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>gs_tip_jiaodizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,796},{99,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,39}}</string>
                <key>sourceSize</key>
                <string>{99,39}</string>
            </dict>
            <key>gs_tip_jiaodizhu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,339},{253,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,83}}</string>
                <key>sourceSize</key>
                <string>{253,83}</string>
            </dict>
            <key>gs_tip_qiangdizh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,339},{257,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,82}}</string>
                <key>sourceSize</key>
                <string>{257,82}</string>
            </dict>
            <key>gs_tip_qiangdizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,907},{99,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,33}}</string>
                <key>sourceSize</key>
                <string>{99,33}</string>
            </dict>
            <key>gs_tip_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,832},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>gs_tip_score_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,974},{48,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,39}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>gs_tip_score_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,942},{54,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,39}}</string>
                <key>sourceSize</key>
                <string>{54,39}</string>
            </dict>
            <key>gs_tip_score_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,970},{54,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,39}}</string>
                <key>sourceSize</key>
                <string>{54,39}</string>
            </dict>
            <key>gs_tip_show.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,320},{121,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,65}}</string>
                <key>sourceSize</key>
                <string>{121,65}</string>
            </dict>
            <key>handicap_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{476,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{476,48}}</string>
                <key>sourceSize</key>
                <string>{484,48}</string>
            </dict>
            <key>handicap_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{214,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,34}}</string>
                <key>sourceSize</key>
                <string>{214,34}</string>
            </dict>
            <key>handicap_tip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,952},{180,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,34}}</string>
                <key>sourceSize</key>
                <string>{180,34}</string>
            </dict>
            <key>icon_goldleaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,942},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>icon_redpacket.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,468},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>login_pic_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,614},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>login_pic_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,970},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>login_pic_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,443},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>null.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,970},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>paiju_huang_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,339},{306,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,78}}</string>
                <key>sourceSize</key>
                <string>{306,78}</string>
            </dict>
            <key>pic_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,883},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>pic_zhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,970},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>spt_changci_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,339},{373,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{373,48}}</string>
                <key>sourceSize</key>
                <string>{373,48}</string>
            </dict>
            <key>title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,339},{347,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,56}}</string>
                <key>sourceSize</key>
                <string>{347,56}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,880},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>×.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,931},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,72}}</string>
                <key>sourceSize</key>
                <string>{70,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameDDZ_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adeeb578c0dcb684d220bd0d60492424$</string>
            <key>textureFileName</key>
            <string>GameDDZ_2.png</string>
        </dict>
    </dict>
</plist>
