<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gr_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,261},{240,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,44}}</string>
                <key>sourceSize</key>
                <string>{240,44}</string>
            </dict>
            <key>gs_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,212},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>gs_btn_continue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,377},{235,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{235,85}}</string>
                <key>sourceSize</key>
                <string>{237,85}</string>
            </dict>
            <key>gs_btn_continue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,212},{275,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{275,83}}</string>
                <key>sourceSize</key>
                <string>{277,85}</string>
            </dict>
            <key>gs_btn_continue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,297},{275,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,78}}</string>
                <key>sourceSize</key>
                <string>{275,78}</string>
            </dict>
            <key>gs_btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,377},{233,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{233,78}}</string>
                <key>sourceSize</key>
                <string>{235,78}</string>
            </dict>
            <key>gs_main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{638,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,165}}</string>
                <key>sourceSize</key>
                <string>{638,165}</string>
            </dict>
            <key>gs_main_bg_lose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{638,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,1}}</string>
                <key>sourceSize</key>
                <string>{638,1}</string>
            </dict>
            <key>gs_main_bg_win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,2},{638,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,1}}</string>
                <key>sourceSize</key>
                <string>{638,1}</string>
            </dict>
            <key>gs_main_player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{414,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{414,36}}</string>
                <key>sourceSize</key>
                <string>{420,36}</string>
            </dict>
            <key>gs_tip_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,172},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>gs_tip_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>gs_title_lose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,642},{229,376}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{229,376}}</string>
                <key>sourceSize</key>
                <string>{233,378}</string>
            </dict>
            <key>gs_title_lose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{231,376}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{231,376}}</string>
                <key>sourceSize</key>
                <string>{233,378}</string>
            </dict>
            <key>gs_title_win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,642},{206,375}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{206,375}}</string>
                <key>sourceSize</key>
                <string>{210,379}</string>
            </dict>
            <key>gs_title_win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{208,377}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{208,377}}</string>
                <key>sourceSize</key>
                <string>{210,379}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameDDZ_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ab8fe4585aaba24b713c1e2416b84d6$</string>
            <key>textureFileName</key>
            <string>GameDDZ_1.png</string>
        </dict>
    </dict>
</plist>
